@using DatabaseModel;

@{
    ViewBag.Title = "Resultado Sisu";
}

<div class="jumbotron">
    
    <h1 style="text-align:center">
        Resultado Sisu 2º semestre 2017
    </h1>

    <p class="lead" style="text-align:center"> 
        Envie o arquivos .txt com os nomes dos seus alunos.
    </p>

    <p style="text-align:center">
        Clique <a href="~/Content/Modelo.txt" download>AQUI</a> para baixar o modelo.
    </p>

</div>

<div style="text-align:center">
    <form method="post" enctype="multipart/form-data" action="">
        <div class="form-group">

            <div class="col-md-offset-4 col-md-4">
                <p>
                    <input type="file" name="arquivo" /> 
                </p>
                <p>
                    <button type="submit" class="btn btn-primary btn-lg">Enviar Arquivo</button>
                </p>
            </div>

        </div>
    </form>
</div>



<div class="container">

    @{
        var alunos = new List<string>();
        var aprovados = new List<Aprovado>();

        if (ViewBag.Alunos != null && ViewBag.Aprovados != null)
        {
            alunos = (List<string>)ViewBag.Alunos;
            aprovados = (List<Aprovado>)ViewBag.Aprovados;
        }
    }


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Nome Sisu</th>
                <th>Faculdade</th>
                <th>Posição</th>
                <th>Tipo de Concorrência</th>
                <th>Inscrição Enem</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>  
            @{
                foreach (var aluno in alunos)
                {
                    var aprovacoes = aprovados.Where(a => a.Nome.Contains(aluno)).ToArray();
                    for (var i = 0; i < aprovacoes.Length; i++)
                    {
                        <tr>
                            @if (i == 0)
                            {
                                <td rowspan="@(@aprovacoes.Length)">@aluno</td>
                            }
                            <td>@(aprovacoes[i]?.Nome)</td>
                            <td>@(aprovacoes[i]?.GrauTurno?.Curso?.LocalOferta?.Universidade.Nome)</td>
                            <td>@(aprovacoes[i]?.Classificacao)</td>
                            <td>@(aprovacoes[i]?.TipoConcorrencia)</td>
                            <td>@(aprovacoes[i]?.Inscricao)</td>
                            <td>@(aprovacoes[i]?.Nota)</td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
